<div id="LeftColumn" class="span-16">

  <br /><br />
  <p id="yellowlink" class="largetext" style="margin-bottom:10px;"><strong>
	
	&nbsp; &nbsp; &nbsp; 
	Are you a <%= link_to 'student', :action => 'register_as_student' %> 
		or an <%= link_to 'employer', :action => 'register_as_employer' %>?
		
  </strong></p>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>